*.iml
.classpath
.project
.idea/
.git/
target/
file
.settings/
*/*.iml
*/*.iml
*/*.log

api/*.iml
api/.classpath
api/.project
api/.idea/
api/.git/
api/target/
api/.settings/

Permanent_Data/*


biz/*.iml
biz/.classpath
biz/.project
biz/.idea/
biz/.git/
biz/target/
biz/.settings/


web/*.iml
web/.classpath
web/.project
web/.idea/
web/.git/
web/target/
web/.settings/

.DS_Store
*.log
tmp/


wxapp/dist/
wxapp/dist
wxapp/node_modules/
wxapp/dist/

wwwapp/admin/node_modules/
wwwapp/admin/dist/


.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

**/node_modules




node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
/.apt_generated_tests/
